.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 16px;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.search {
  border: none;
}
.iconSearch {
  font-size: large;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-right: 16px;
  margin-left: 16px;
}

.avatarContainer {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: 'contain';
}
.inputSearch {
  width: 100%;
}
.inputSearch::placeholder {
  color: var(--text) !important;
  opacity: 0.5;
}
.menuLogout {
  padding-left: 16px !important;
  padding-right: 16px !important;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
.iconNoti {
  font-size: 1.25rem;
  margin-right: 16px;
  margin-left: 16px;
  cursor: pointer;
}
